[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/deepaks-cuelogic
[access "refs/for/refs/*"]
	read = group user/deepaks-cuelogic
	push = group user/deepaks-cuelogic
	label-Code-Review = -2..+2 group user/deepaks-cuelogic
	label-Verified = -1..+1 group user/deepaks-cuelogic
	rebase = group user/deepaks-cuelogic
	removeReviewer = group user/deepaks-cuelogic
	submit = group user/deepaks-cuelogic
[access "refs/heads/*"]
	read = group user/deepaks-cuelogic
	create = group user/deepaks-cuelogic
	push = +force group user/deepaks-cuelogic
	pushMerge = group user/deepaks-cuelogic
[access "refs/tags/*"]
	push = +force group user/deepaks-cuelogic
	pushTag = group user/deepaks-cuelogic
	pushSignedTag = group user/deepaks-cuelogic
